#### Create database

In [45]:
import sqlite3

In [51]:
conn = sqlite3.connect('INSTRUCTO.db')

##### Creating a Cursor
To create a cursor, you use the cursor() method of the connection object to the database:

In [52]:
cursor_obj = conn.cursor()

In [53]:
cursor_obj.execute("DROP TABLE IF EXISTS INSTRUCTOR")

##### Create a table in the database

Define the SQL statement to create the INSTRUCTOR table if it does not already exist

In [54]:
table = """CREATE TABLE IF NOT EXISTS INSTRUCTOR (
             ID INTEGER PRIMARY KEY NOT NULL, 
             FNAME VARCHAR(20), 
             LNAME VARCHAR(20), 
             CITY VARCHAR(20), 
             CCODE CHAR(2)
         );"""
cursor_obj.execute(table)
print("Table is Ready")

Table is Ready

##### Insert data into the INSTRUCTOR table

In [55]:
  cursor_obj.execute("INSERT INTO INSTRUCTOR (ID, FNAME, LNAME, CITY, CCODE) VALUES (1, 'John', 'Doe', 'New York', 'US')")

In [56]:
  cursor_obj.execute("INSERT INTO INSTRUCTOR VALUES  (2, 'Jane', 'Smith', 'Los Angeles', 'US'),  (3, 'Carlos', 'Garcia', 'Madrid', 'ES')")

In [59]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the data")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

All the data
(1, 'John', 'Doe', 'New York', 'US')
(2, 'Jane', 'Smith', 'Los Angeles', 'US')
(3, 'Carlos', 'Garcia', 'Madrid', 'ES')

In [60]:
statement = '''SELECT FNAME FROM INSTRUCTOR'''
cursor_obj.execute(statement)
  
print("All the data")
output_column = cursor_obj.fetchall()
for fetch in output_column:
  print(fetch)

All the data
('John',)
('Jane',)
('Carlos',)

In [ ]:
query_update='''update INSTRUCTOR set CITY='M' where FNAME="John"'''
cursor_obj.execute(query_update)

In [ ]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)
  
print("All the data")
output1 = cursor_obj.fetchmany(2)
for row in output1:
  print(row)

###### Retrieve data into Pandas

In [ ]:
import pandas as pd
#retrieve the query results into a pandas dataframe
df = pd.read_sql_query("select * from instructor;", conn)

#print the dataframe
df

In [ ]:
df.LNAME[0]

In [ ]:
df.shape

In [44]:
conn.close()